p {
    color:#808000;
}

body {
    background-color: #FDF5E6;
}

label {
    color:#191970;
}

h1 {
    color:#191970;
    /* I only have one h1 */
}

img {
    border-radius: 50%;
}

p {
    font: font size = 16px;
}

